---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Seo from '@components/Seo.astro';
import '@styles/global.css';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  type?: 'website' | 'article';
}
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <Seo {...Astro.props} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
